[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
bonding_curve = "Cxiw2xXiCCNywNS6qH1mPH81yaVkG8jhu7x6ma7oTK9M"

[programs.mainnet]
bonding_curve = "Cxiw2xXiCCNywNS6qH1mPH81yaVkG8jhu7x6ma7oTK9M"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false
